Repository onmeduz/onmed-webapi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @ahadulla, @rustamkulov

.github/CODEOWNERS:

/.github/*                 @sodiqjonovich
/test/*                    @ahadulla
/src/OnMed.Application/*   @rustamkulov
/src/OnMed.DataAccess/*    @rustamkulov
/src/OnMed.Domain/*        @rustamkulov
/src/OnMed.Persistance/*   @rustamkulov
/src/OnMed.Service/*       @rustamkulov
/src/OnMed.WebApi/*        @ahadulla

Added
  src/OnMed.Service/Interfaces/Doctors/IDoctorService.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.WebApi/Controllers/Common/Hospital/CommonHospitalBranchController.cs
Owners: none

Rasmlarni tozaladim
  pmr/init.sql
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.WebApi/OnMed.WebApi.csproj
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_1789ccdb-bc01-4b17-bde4-6fcce767f660.png
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_a56f2f93-46b6-40ad-b1ba-ec8b1d03ddc1.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_c67c44a3-162c-49b6-a5e5-d8e2942845c8.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_c92d2b8f-89a5-494a-a6e6-25618c56310a.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_e9956564-1e13-4e0d-b053-b515cdb4a2a7.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/a.txt
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_066369fe-9e30-49e0-afdb-3ebcda561354.jpg
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_32ae3456-34f7-4236-a7fe-4604e22db7ee.jpg
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_5dc31026-2898-4804-812a-16213c49b72a.jpg
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_849f4b67-4fd0-4c74-ab25-ff8e5562ae50.png
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_9ebd35e5-d454-44e3-acbf-e87602fe2b19.jpeg
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_e889feac-5a01-4524-ab1f-362b9258823b.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_12d136c1-9a17-4914-a37f-9cb7054a1b8b.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_2249382d-9497-48fb-ae31-b015768cad0f.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_2502847e-8b18-4ae9-9271-4b4998ee5aa8.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_3902155c-8cc8-417e-a055-1e5295d5e860.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_3b509d68-344e-46e1-ba2b-44d412e94e4b.png
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_6414df66-5d4a-4b1d-8260-9a7aeb96c8e5.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_66ab8bf5-8897-46ca-937e-a1308125e66a.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_d7cbd400-a550-4350-a593-e085854b6dd1.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_d87b3e01-5003-4c17-8cb9-cc962d984aa5.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_e0052f90-7a72-4735-8156-3cf3fe846df5.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_e0e8c374-1a7d-495e-aad7-af379b81038e.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_41c868e7-379f-4540-a6b6-a37e9eab927a.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_56a298d7-ae7d-4385-a26c-f7c17fce3617.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_782f175d-b357-4963-9bad-75c2185db7a3.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_816a1e23-8ccc-4e7f-a33d-e9f71c377512.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_85c6bbc0-808e-4662-a849-95239ba92f02.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_89b00345-984d-4e0a-9ad3-7884a967ddb0.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_d9a35178-6aae-4c74-b683-cf7373de3dbe.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_f74870f8-da98-4e98-8ec7-ac242a33587e.jpg
  src/OnMed.WebApi/wwwroot/storage/images/users/IMG_a28f6012-dd7e-4e7f-8494-dd2caf21b36d.jpg
  src/OnMed.WebApi/wwwroot/storage/images/users/a.txt
Owners: @ahadulla

Changed UserAppointmentService
  src/OnMed.Service/Services/Users/UserAppointmentService.cs
  src/OnMed.Service/Services/Users/UserService.cs
  src/OnMed.WebApi/Controllers/User/Appointments/UserAppointmentsController.cs
Owners: none

Doctor Profile Update and Datele Complated
  src/OnMed.DataAccess/Interfaces/Administrators/IAdministratorRepository.cs
  src/OnMed.DataAccess/Repositories/Administrators/AdministratorRepository.cs
  src/OnMed.DataAccess/Repositories/Users/UserRepository.cs
  src/OnMed.Persistance/Dtos/Doctors/DoctorUpdateDto.cs
  src/OnMed.Persistance/Validators/Dtos/Doctors/DoctodUpdateValidator.cs
  src/OnMed.Persistance/Validators/Dtos/Doctors/DoctorCreateValidator.cs
  src/OnMed.Service/Interfaces/Administrators/IAdministratorsService.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
  src/OnMed.Service/Services/Common/FileService.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.Service/Services/Users/UserService.cs
  src/OnMed.WebApi/Controllers/Admin/AdminDoctors/AdminDoctorsController.cs
  src/OnMed.WebApi/Controllers/Admin/AdminProfileController.cs
  src/OnMed.WebApi/Controllers/Head/HeadProfileController.cs
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_bbd9ec3d-26b8-4e91-9156-ba594e88aa9c.jpg
Owners: none

Writed AdminUserAppointmentController GetByMomentAsync
  src/OnMed.DataAccess/Interfaces/Doctors/IDoctorAppointmentRepository.cs
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.DataAccess/Repositories/Doctors/DoctorAppointmentRepository.cs
  src/OnMed.DataAccess/ViewModels/Appoinments/AppoinmentViewModel.cs
  src/OnMed.Service/Interfaces/Users/IUserAppointmentService.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.Service/Services/Users/UserAppointmentService.cs
  src/OnMed.WebApi/Controllers/Admin/Users/AdminUserAppointmentController.cs
  src/OnMed.WebApi/Controllers/Admin/Users/AdminUserController.cs
  src/OnMed.WebApi/OnMed.WebApi.csproj
Owners: @ahadulla

Writed All to Controller SearchAsync !
  src/OnMed.DataAccess/Common/Interfaces/ISearchable.cs
  src/OnMed.DataAccess/Interfaces/Administrators/IAdministratorRepository.cs
  src/OnMed.DataAccess/Interfaces/Categories/ICategoryRepository.cs
  src/OnMed.DataAccess/Interfaces/Doctors/IDoctorRepository.cs
  src/OnMed.DataAccess/Interfaces/Hospitals/IHospitalBranchRepository.cs
  src/OnMed.DataAccess/Interfaces/Hospitals/IHospitalRepository.cs
  src/OnMed.DataAccess/Interfaces/Users/IUserRepository.cs
  src/OnMed.DataAccess/Repositories/Administrators/AdministratorRepository.cs
  src/OnMed.DataAccess/Repositories/Categories/CategoryRepository.cs
  src/OnMed.DataAccess/Repositories/Doctors/DoctorRepository.cs
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalBranchRepository.cs
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalRepository.cs
  src/OnMed.DataAccess/Repositories/Users/UserRepository.cs
  src/OnMed.Service/Interfaces/Administrators/IAdministratorsService.cs
  src/OnMed.Service/Interfaces/Categories/ICategoryService.cs
  src/OnMed.Service/Interfaces/Doctors/IDoctorService.cs
  src/OnMed.Service/Interfaces/Hospitals/IHospitalBranchService.cs
  src/OnMed.Service/Interfaces/Hospitals/IHospitalService.cs
  src/OnMed.Service/Interfaces/Users/IUserService.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
  src/OnMed.Service/Services/Categories/CategoryService.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.Service/Services/Hospitals/HospitalBranchService.cs
  src/OnMed.Service/Services/Hospitals/HospitalService.cs
  src/OnMed.Service/Services/Users/UserService.cs
  src/OnMed.WebApi/Controllers/Common/Categories/CommonCategoriesController.cs
  src/OnMed.WebApi/Controllers/Common/Doctors/CommonDoctorsController.cs
  src/OnMed.WebApi/Controllers/Head/Administrators/HeadAdministratorController.cs
  src/OnMed.WebApi/Controllers/Head/Categories/HeadCategoryController.cs
  src/OnMed.WebApi/Controllers/Head/Hospitals/HeadHospitalBranchController.cs
  src/OnMed.WebApi/Controllers/Head/Hospitals/HeadHospitalController.cs
  src/OnMed.WebApi/Controllers/Head/Users/HeadUserController.cs
Owners: none

Writed to All Controller SearchAsync
  src/OnMed.WebApi/Controllers/Common/Categories/CommonCategoriesController.cs
Owners: none

SERVICE : Repair Dateonly and Timeoly
  src/OnMed.DataAccess/Repositories/Doctors/DoctorAppointmentRepository.cs
  src/OnMed.Persistance/Dtos/Appointments/AppointmentCreateDto.cs
Owners: none

SERVICE : Category Create and Hospital Create Writed Mapper!
  src/OnMed.Service/OnMed.Service.csproj
  src/OnMed.Service/Services/Categories/CategoryService.cs
  src/OnMed.Service/Services/Hospitals/HospitalService.cs
  src/OnMed.WebApi/Configurations/Layers/WebConfiguration.cs
  src/OnMed.WebApi/Configurations/MapperConfiration.cs
  src/OnMed.WebApi/OnMed.WebApi.csproj
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_205160a9-17db-4062-bab7-ef0168192660.jpg
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_bbc3b470-5033-4e56-a796-4bb046964147.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_268bef33-a4d7-4d96-ae68-1537e09baad2.jpg
Owners: @rustamkulov, @ahadulla
