Repository onmeduz/onmed-webapi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @ahadulla, @rustamkulov

Created Upload Image
  src/OnMed.DataAccess/ViewModels/HumanViewModel.cs
  src/OnMed.Persistance/Dtos/Users/UploadImageDto.cs
  src/OnMed.Persistance/Validators/Dtos/Users/UploadImageValidator.cs
  src/OnMed.Service/Interfaces/Administrators/IAdminService.cs
  src/OnMed.WebApi/OnMed.WebApi.csproj
  src/OnMed.WebApi/wwwroot/storage/images/users/IMG_e47805b5-82df-4505-9b4d-87b8d93d3011.jpg
Owners: @ahadulla

Added
  src/OnMed.Application/Exceptions/Administrators/AdminNotFoundException.cs
  src/OnMed.DataAccess/Interfaces/Hospitals/IHospitalBranchRepository.cs
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.DataAccess/Repositories/Heads/HeadRepository.cs
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalBranchRepository.cs
  src/OnMed.Persistance/Dtos/Administrators/AdministratorUpdateDto.cs
  src/OnMed.Persistance/Dtos/Hospitals/HospitalBranchCreateDto.cs
  src/OnMed.Persistance/Validators/Dtos/Administrators/AdministratorCreateValidator.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
  src/OnMed.Service/Services/Hospitals/HospitalBranchService.cs
  src/OnMed.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/OnMed.WebApi/Controllers/Head/Administrators/HeadAdministratorController.cs
  src/OnMed.WebApi/OnMed.WebApi.csproj
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_29368be0-b022-4b73-92a4-88fc8ff39844.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_68b5b578-b6e8-4078-aa3c-c8a04133ba40.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_764d9bd1-1ed7-45d6-871d-cc572b2151c2.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_9cd1c320-545f-41b6-9fc6-7c86d52922a8.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_e89dcde5-889e-4857-ad1a-970c2dec0904.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_b42021ab-8839-4916-999a-d70b2e793049.jpg
Owners: @ahadulla

nimadir
  src/OnMed.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
Owners: none

Created Profile
  src/OnMed.Persistance/Validators/DataOnlyValidator.cs
  src/OnMed.Service/Interfaces/Auth/IAuthService.cs
  src/OnMed.Service/Interfaces/Auth/IIdentityService.cs
  src/OnMed.Service/Services/Auth/AuthService.cs
  src/OnMed.Service/Services/Auth/IdentityService.cs
  src/OnMed.WebApi/Middlewares/ExceptionHandlerMiddleware.cs
Owners: none

Ko'p narsani o'zgartirdimda e
  src/OnMed.DataAccess/Interfaces/Users/IUserRepository.cs
  src/OnMed.DataAccess/Repositories/Users/UserRepository.cs
  src/OnMed.Persistance/Dtos/Users/UserUpdateDto.cs
  src/OnMed.Persistance/Validators/Dtos/Auth/ResetPasswordValidator.cs
  src/OnMed.Persistance/Validators/Dtos/Categories/CategoryUpdateValidator.cs
  src/OnMed.Persistance/Validators/Dtos/Doctors/DoctorCreateValidator.cs
  src/OnMed.Persistance/Validators/Dtos/Users/UserUpdateValidator.cs
  src/OnMed.Service/Interfaces/Users/IUserProfileService.cs
  src/OnMed.Service/Services/Auth/DoctorAuthService.cs
  src/OnMed.Service/Services/Auth/TokenService.cs
  src/OnMed.Service/Services/Users/UserProfileService.cs
  src/OnMed.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/OnMed.WebApi/Controllers/Admin/AdminDoctors/AdminDoctorsController.cs
  src/OnMed.WebApi/Controllers/User/Auth/UserAuthController.cs
  src/OnMed.WebApi/Controllers/User/UserProfileController.cs
Owners: none

Completed HeadAdministratorController
  src/OnMed.Persistance/Dtos/Administrators/AdministratorCreateDto.cs
  src/OnMed.Persistance/Dtos/Administrators/AdministratorUpdateDto.cs
  src/OnMed.Persistance/Validators/Dtos/Administrators/AdministratorUpdateValidator.cs
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_b9fc853d-3469-413b-a0c4-246e1de8e88d.jpg
Owners: none

Added CommonCaregoryController GetAll !
  src/OnMed.DataAccess/Interfaces/Categories/ICategoryRepository.cs
  src/OnMed.DataAccess/Repositories/Categories/CategoryRepository.cs
  src/OnMed.Service/Interfaces/Categories/ICategoryService.cs
  src/OnMed.Service/Services/Categories/CategoryService.cs
  src/OnMed.WebApi/Controllers/Common/Categories/CommonCategoriesController.cs
Owners: none

Completed HeadUserController
  src/OnMed.Application/Exceptions/HeadNotFoundException.cs
  src/OnMed.DataAccess/Interfaces/Heads/IHeadRepository.cs
  src/OnMed.DataAccess/Interfaces/Users/IUserRepository.cs
  src/OnMed.DataAccess/Repositories/Heads/HeadRepository.cs
  src/OnMed.DataAccess/Repositories/Users/UserRepository.cs
  src/OnMed.Service/Interfaces/Auth/IHeadAuthService.cs
  src/OnMed.Service/Interfaces/Heads/IHeadService.cs
  src/OnMed.Service/Interfaces/Users/IUserService.cs
  src/OnMed.Service/Services/Auth/AuthService.cs
  src/OnMed.Service/Services/Auth/HeadAuthService.cs
  src/OnMed.Service/Services/Users/UserService.cs
  src/OnMed.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/OnMed.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/OnMed.WebApi/Controllers/Head/Administrators/HeadAdministratorController.cs
  src/OnMed.WebApi/Controllers/Head/Auth/HeadAuthController.cs
  src/OnMed.WebApi/Controllers/Head/HeadBaseController.cs
  src/OnMed.WebApi/Controllers/Head/Users/HeadUserController.cs
Owners: none

added
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.Persistance/Validators/Dtos/Administrators/AdministratorUpdateValidator.cs
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_d146390f-271b-4e70-bf2d-be37e51a4dd7.png
Owners: none

Logger is implementad
  src/OnMed.WebApi/Configurations/Layers/WebConfiguration.cs
  src/OnMed.WebApi/Configurations/LoggerConfiguration.cs
  src/OnMed.WebApi/Controllers/Common/Categories/CommonCategoriesController.cs
  src/OnMed.WebApi/Middlewares/ExceptionHandlerMiddleware.cs
  src/OnMed.WebApi/OnMed.WebApi.csproj
  src/OnMed.WebApi/Program.cs
  src/OnMed.WebApi/appsettings.Development.json
  src/OnMed.WebApi/appsettings.json
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_3aa65b2f-3ff1-4c0a-9347-c50ffa5afbf5.png
Owners: @ahadulla

Remove image upload in HeadAdministratorController
  src/OnMed.Persistance/Dtos/Administrators/AdministratorUpdateDto.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
Owners: none

Remove Image validator
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.DataAccess/Repositories/Users/UserRepository.cs
  src/OnMed.Persistance/Validators/Dtos/Administrators/AdministratorUpdateValidator.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
Owners: none

Create GetDoctors Hospitalbranches
  src/OnMed.DataAccess/Interfaces/Doctors/IDoctorRepository.cs
  src/OnMed.DataAccess/Repositories/Doctors/DoctorRepository.cs
  src/OnMed.DataAccess/ViewModels/Doctors/DoctorViewModel.cs
  src/OnMed.Service/Interfaces/Doctors/IDoctorService.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.WebApi/Controllers/Admin/AdminDoctors/AdminDoctorsController.cs
  src/OnMed.WebApi/Controllers/Admin/Auth/AdminAuthController.cs
  src/OnMed.WebApi/Controllers/Common/Doctors/CommonDoctorsController.cs
  src/OnMed.WebApi/Controllers/Common/Hospital/CommonHospitalBranchController.cs
  src/OnMed.WebApi/Controllers/Doctor/Auth/DoctorAuthController.cs
  src/OnMed.WebApi/Middlewares/Class.cs
Owners: none

add
  src/OnMed.Persistance/Validators/Dtos/Administrators/AdministratorUpdateValidator.cs
Owners: none

Bugs have been corrected!
  src/OnMed.DataAccess/Handlers/TimeOnlyTypeHandler.cs
  src/OnMed.DataAccess/Interfaces/Hospitals/IHospitalBranchRepository.cs
  src/OnMed.DataAccess/OnMed.DataAccess.csproj
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalBranchRepository.cs
  src/OnMed.DataAccess/ViewModels/Hospitals/HospitalBranchForCommonViewModel.cs
  src/OnMed.Domain/Entities/Hospitals/HospitalSchedule.cs
  src/OnMed.Domain/Enums/WeekDay.cs
  src/OnMed.Persistance/Dtos/Doctors/DoctorCreateDto.cs
  src/OnMed.Persistance/Validators/Dtos/Doctors/DoctorCreateValidator.cs
  src/OnMed.Service/Interfaces/Hospitals/IHospitalBranchService.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.Service/Services/Hospitals/HospitalBranchService.cs
  src/OnMed.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/OnMed.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/OnMed.WebApi/Controllers/Common/Hospital/CommonHospitalBranchController.cs
  src/OnMed.WebApi/OnMed.WebApi.csproj
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_c92d2b8f-89a5-494a-a6e6-25618c56310a.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_e9956564-1e13-4e0d-b053-b515cdb4a2a7.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_2249382d-9497-48fb-ae31-b015768cad0f.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_3b509d68-344e-46e1-ba2b-44d412e94e4b.png
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_d87b3e01-5003-4c17-8cb9-cc962d984aa5.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_e0052f90-7a72-4735-8156-3cf3fe846df5.jpg
Owners: @rustamkulov, @ahadulla

and doctorService deffects have been corrected
  src/OnMed.Service/Services/Doctors/DoctorService.cs
Owners: none

Remove image upload in HeadAdministratorController
  src/OnMed.Persistance/Dtos/Administrators/AdministratorUpdateDto.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
Owners: none

Bugs have been corrected!
  src/OnMed.DataAccess/Handlers/TimeOnlyTypeHandler.cs
  src/OnMed.DataAccess/Interfaces/Hospitals/IHospitalBranchRepository.cs
  src/OnMed.DataAccess/OnMed.DataAccess.csproj
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalBranchRepository.cs
  src/OnMed.DataAccess/ViewModels/Hospitals/HospitalBranchForCommonViewModel.cs
  src/OnMed.Domain/Entities/Hospitals/HospitalSchedule.cs
  src/OnMed.Domain/Enums/WeekDay.cs
  src/OnMed.Persistance/Dtos/Doctors/DoctorCreateDto.cs
  src/OnMed.Persistance/Validators/Dtos/Doctors/DoctorCreateValidator.cs
  src/OnMed.Service/Interfaces/Hospitals/IHospitalBranchService.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.Service/Services/Hospitals/HospitalBranchService.cs
  src/OnMed.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/OnMed.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/OnMed.WebApi/Controllers/Common/Hospital/CommonHospitalBranchController.cs
  src/OnMed.WebApi/OnMed.WebApi.csproj
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_c92d2b8f-89a5-494a-a6e6-25618c56310a.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_e9956564-1e13-4e0d-b053-b515cdb4a2a7.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_2249382d-9497-48fb-ae31-b015768cad0f.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_3b509d68-344e-46e1-ba2b-44d412e94e4b.png
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_d87b3e01-5003-4c17-8cb9-cc962d984aa5.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_e0052f90-7a72-4735-8156-3cf3fe846df5.jpg
Owners: @rustamkulov, @ahadulla

and doctorService deffects have been corrected
  src/OnMed.Service/Services/Doctors/DoctorService.cs
Owners: none

add
  src/OnMed.Persistance/Validators/Dtos/Administrators/AdministratorUpdateValidator.cs
Owners: none

Remove Image validator
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.DataAccess/Repositories/Users/UserRepository.cs
  src/OnMed.Persistance/Validators/Dtos/Administrators/AdministratorUpdateValidator.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
Owners: none

Changes DoctorService!
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.WebApi/Controllers/Head/HeadBaseController.cs
Owners: none

Updated Doctor create
  pmr/init.sql
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.Domain/Entities/Hospitals/HospitalSchedule.cs
  src/OnMed.Persistance/Dtos/Doctors/DoctorCreateDto.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.WebApi/Controllers/Admin/AdminBaseController.cs
  src/OnMed.WebApi/Controllers/Doctor/DoctorBaseController.cs
  src/OnMed.WebApi/Controllers/Head/HeadBaseController.cs
  src/OnMed.WebApi/Controllers/User/UserBaseController.cs
  src/OnMed.WebApi/OnMed.WebApi.csproj
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_5d51bca1-9ebc-4338-9021-169d1847e2ef.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_b9fc853d-3469-413b-a0c4-246e1de8e88d.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_c92d2b8f-89a5-494a-a6e6-25618c56310a.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_e9956564-1e13-4e0d-b053-b515cdb4a2a7.jpg
  src/OnMed.WebApi/wwwroot/storage/images/administrators/a.txt
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_066369fe-9e30-49e0-afdb-3ebcda561354.jpg
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_3aa65b2f-3ff1-4c0a-9347-c50ffa5afbf5.png
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_bc95b707-4779-434d-bf18-f8406efc7d8d.jpg
  src/OnMed.WebApi/wwwroot/storage/images/categories/IMG_e889feac-5a01-4524-ab1f-362b9258823b.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_2249382d-9497-48fb-ae31-b015768cad0f.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_2502847e-8b18-4ae9-9271-4b4998ee5aa8.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_3b509d68-344e-46e1-ba2b-44d412e94e4b.png
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_6414df66-5d4a-4b1d-8260-9a7aeb96c8e5.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_d87b3e01-5003-4c17-8cb9-cc962d984aa5.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_e0052f90-7a72-4735-8156-3cf3fe846df5.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_0c8c1f3f-0826-4565-9b7f-6b6c22740a4e.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_4e3ac0b8-a63d-416f-9e25-b3052f259e1c.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_50aabd32-9452-4da6-83bb-7eab43110813.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_782f175d-b357-4963-9bad-75c2185db7a3.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_7ec48756-ddfb-409b-b9c3-5e78b2d6830b.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_85c6bbc0-808e-4662-a849-95239ba92f02.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_89b00345-984d-4e0a-9ad3-7884a967ddb0.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_91e5e9a7-e453-4596-8b9a-308a0f8714f6.jpg
  src/OnMed.WebApi/wwwroot/storage/images/hospitals/IMG_d146390f-271b-4e70-bf2d-be37e51a4dd7.png
  src/OnMed.WebApi/wwwroot/storage/images/users/a.txt
Owners: @ahadulla

Updated Doctor Get
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.DataAccess/Repositories/Doctors/DoctorRepository.cs
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalBranchDoctorRepository.cs
  src/OnMed.DataAccess/ViewModels/Doctors/DoctorViewModel.cs
  src/OnMed.DataAccess/ViewModels/HumanViewModel.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.WebApi/Controllers/Common/Hospital/CommonHospitalBranchController.cs
Owners: none

Remove DoctorService if and else
  src/OnMed.Service/Services/Doctors/DoctorService.cs
Owners: none

Added staged
  src/OnMed.Service/Services/Doctors/DoctorService.cs
Owners: none

Changes Enums WeekDay !
  src/OnMed.Domain/Entities/Hospitals/Hospital.cs
  src/OnMed.Domain/Enums/WeekDay.cs
Owners: none

changed
  src/OnMed.WebApi/Controllers/Admin/AdminBaseController.cs
  src/OnMed.WebApi/Controllers/Doctor/DoctorBaseController.cs
  src/OnMed.WebApi/Controllers/Head/HeadBaseController.cs
  src/OnMed.WebApi/Controllers/User/UserBaseController.cs
Owners: none

Updated
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalBranchAdminRepository.cs
  src/OnMed.Domain/Entities/Hospitals/HospitalBranchAdmin.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_8af0ab8d-0683-4476-b686-428665230bf1.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_e0e8c374-1a7d-495e-aad7-af379b81038e.jpg
Owners: none

Updated
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalBranchAdminRepository.cs
  src/OnMed.Domain/Entities/Hospitals/HospitalBranchAdmin.cs
  src/OnMed.Service/Services/Administrators/AdministratorService.cs
  src/OnMed.WebApi/wwwroot/storage/images/administrators/IMG_8af0ab8d-0683-4476-b686-428665230bf1.jpg
  src/OnMed.WebApi/wwwroot/storage/images/doctors/IMG_e0e8c374-1a7d-495e-aad7-af379b81038e.jpg
Owners: none

changed
  src/OnMed.WebApi/Controllers/Admin/AdminBaseController.cs
  src/OnMed.WebApi/Controllers/Doctor/DoctorBaseController.cs
  src/OnMed.WebApi/Controllers/Head/HeadBaseController.cs
  src/OnMed.WebApi/Controllers/User/UserBaseController.cs
Owners: none

Updated Doctor Get
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.DataAccess/Repositories/Doctors/DoctorRepository.cs
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalBranchDoctorRepository.cs
  src/OnMed.DataAccess/ViewModels/Doctors/DoctorViewModel.cs
  src/OnMed.DataAccess/ViewModels/HumanViewModel.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.WebApi/Controllers/Common/Hospital/CommonHospitalBranchController.cs
Owners: none

changed password db in BaseRepository
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
Owners: none

Updated Doctor Get
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
Owners: none

change db password
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
Owners: none

Added hospital_branch_id in doctorRepository
  src/OnMed.DataAccess/Repositories/Doctors/DoctorRepository.cs
  src/OnMed.DataAccess/ViewModels/Doctors/DoctorViewModel.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
Owners: none

added
  src/OnMed.DataAccess/Repositories/Doctors/DoctorRepository.cs
Owners: none

Writed UserAppointmentController Post !
  src/OnMed.Application/Exceptions/AlreadyAppointmentException.cs
  src/OnMed.Application/Exceptions/Doctors/DoctorAlreadyAppoinmentException.cs
  src/OnMed.Application/Exceptions/Doctors/NotWorkingTimeException.cs
  src/OnMed.Application/Exceptions/InternalServerErrorException.cs
  src/OnMed.Application/OnMed.Application.csproj
  src/OnMed.DataAccess/Interfaces/Doctors/IDoctorAppointmentRepository.cs
  src/OnMed.DataAccess/Interfaces/Hospitals/IHospitalScheduleRepository.cs
  src/OnMed.DataAccess/Repositories/BaseRepository.cs
  src/OnMed.DataAccess/Repositories/Doctors/DoctorAppointmentRepository.cs
  src/OnMed.DataAccess/Repositories/Hospitals/HospitalScheduleRepository.cs
  src/OnMed.DataAccess/ViewModels/Users/UserAppointmentViewModel.cs
  src/OnMed.Domain/Entities/Doctors/DoctorAppointment.cs
  src/OnMed.Domain/Enums/AppointmentStatus.cs
  src/OnMed.Persistance/Dtos/Appointments/AppointmentCreateDto.cs
  src/OnMed.Persistance/Validators/Dtos/Appointments/AppointmentCreateValidator.cs
  src/OnMed.Service/Interfaces/Users/IUserAppointmentService.cs
  src/OnMed.Service/Services/Users/UserAppointmentService.cs
  src/OnMed.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/OnMed.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/OnMed.WebApi/Controllers/User/Appointments/UserAppointmentsController.cs
  src/OnMed.WebApi/wwwroot/storage/images/users/IMG_a28f6012-dd7e-4e7f-8494-dd2caf21b36d.jpg
Owners: @rustamkulov

Writed UserAppointmentController GEt
  src/OnMed.DataAccess/Interfaces/Doctors/IDoctorAppointmentRepository.cs
  src/OnMed.DataAccess/Repositories/Doctors/DoctorAppointmentRepository.cs
  src/OnMed.DataAccess/ViewModels/Users/UserAppointmentViewModel.cs
  src/OnMed.Service/Interfaces/Users/IUserAppointmentService.cs
  src/OnMed.Service/Services/Users/UserAppointmentService.cs
  src/OnMed.WebApi/Controllers/Common/Doctors/CommonDoctorsController.cs
Owners: none

Nimadirlar qilindida
  src/OnMed.DataAccess/Interfaces/Heads/IHeadRepository.cs
  src/OnMed.DataAccess/Repositories/Heads/HeadRepository.cs
  src/OnMed.DataAccess/ViewModels/Doctors/DoctorViewModel.cs
  src/OnMed.Persistance/Dtos/Doctors/DoctorCreateDto.cs
  src/OnMed.Service/Interfaces/Heads/IHeadService.cs
  src/OnMed.Service/Services/Doctors/DoctorService.cs
  src/OnMed.Service/Services/Heads/HeadService.cs
  src/OnMed.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/OnMed.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/OnMed.WebApi/Controllers/Head/HeadProfileController.cs
Owners: none

.github/CODEOWNERS:

/.github/*                 @sodiqjonovich
/test/*                    @ahadulla
/src/OnMed.Application/*   @rustamkulov
/src/OnMed.DataAccess/*    @rustamkulov
/src/OnMed.Domain/*        @rustamkulov
/src/OnMed.Persistance/*   @rustamkulov
/src/OnMed.Service/*       @rustamkulov
/src/OnMed.WebApi/*        @ahadulla
